
// Display pour le footer
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    width: 100%;
  }


  // Dimensions logo footer
  img{
    width: 15%;
    
  }